body {
	margin: 50px;
	background-color: lightblue;
	
}

h1 {
	color:gray;
	text-align: center;
	font-family: Courier New;
}

#header {
	width:100%;
	border: 1px solid black;
	height:100px;
	background-color: lightgray;
	max-width: 100%;
}
#entryform {
	width: 100%;
	border: 1px solid black;
	background-color:white;
	height: 99px;
	font-size: 25px;
	border-bottom: 1px solid black;
	text-align: center;
	font-family: Courier New;

}
#listitems {
	height: 100%;
	background-color: lightblue;
	border: 1px solid black;
	border-bottom: none;
}
#listitems ul {
	list-style-type: none;
	text-align: center;
	border: 1px solid black;
}
#listitems ul li {
	margin-bottom: 20px;
	position: relative;
}
#listitems ul li:hover {
	margin-bottom: 20px;
	position: static;
	font-family: Courier New;
	font-size: 25px;
	color: red;
	width: 100%;
	
}
