	body {
		font-family: Verdana, Geneva, sans-serif;
	}
	
	h1{
		text-align: center;
	}
	#box{
		height:200px;
		width:200px;
		background-color:blue;
		display: none;
		border: 1px solid black;
		box-shadow: 10px 10px 5px #888888;
		position: relative;
	}